@import 'tailwindcss';

:root {
	--background: #f9f8f6;
	--foreground: #454545;
	--display: var(--font-display);
	--secondary: #666666;
	--dark-secondary: #9D9999;
	--x-margin: 32px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-display: var(--font-display);
	--color-secondary: var(--secondary);
	--color-dark-secondary: var(--dark-secondary);
	--spacing-x-margin: var(--x-margin);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
